.hero {
  background: url('../img/post-image.jpg') no-repeat center top;
  background-size:cover;
  height:90vh;
}

.hero__h1 {
  padding-top:20vh
}

.hero a {
  display:block;
  text-align: center;
  margin-top:25vh;
}
